<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>verificacionUsuario</servlet-name>
        <servlet-class>servlets.verificacionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEmpleado</servlet-name>
        <servlet-class>EditarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEmpleado</servlet-name>
        <servlet-class>ActualizarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarEmpleado</servlet-name>
        <servlet-class>eliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarUsuario</servlet-name>
        <servlet-class>insertarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuario</servlet-name>
        <servlet-class>AgregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarDepartamento</servlet-name>
        <servlet-class>EditarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDepartamento</servlet-name>
        <servlet-class>ActualizarDepartamento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verificacionUsuario</servlet-name>
        <url-pattern>/verificacionUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEmpleado</servlet-name>
        <url-pattern>/EditarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEmpleado</servlet-name>
        <url-pattern>/ActualizarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarEmpleado</servlet-name>
        <url-pattern>/eliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarUsuario</servlet-name>
        <url-pattern>/insertarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuario</servlet-name>
        <url-pattern>/AgregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarDepartamento</servlet-name>
        <url-pattern>/EditarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDepartamento</servlet-name>
        <url-pattern>/ActualizarDepartamento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
